# Homework 2

**Subject matter:**

functions, parameters, return values

**Instructions:**

Be sure to run each code block after you edit it to make sure it runs as expected. When you are done, we strongly recommend you run all the code from scratch (Runtime menu -> Restart and Run all) to make sure your current code works for all problems.

If your code raises an exception when run from scratch, it will interfere with the auto-grader process causing you to lose some or all points for this homework. Please ask for help on Piazza, attend office hours or schedule an appointment with your learning facilitator if you get stuck.

**Warning about AI:**

While we encourage you to use AI to generate practice problems, we strongly recommend against using it to solve this assignment. The goal of this assignment is for you to learn these concepts, and while using AI may help you solve these problems quicker, you will not be learning anything and will get confused as this module progresses. So, try to solve these problems with the help of the sample problems and examples on blackboard.

**Solution:**

For each problem description, a sample output has been included to show what the expected output should look like.

**Problem 1 (Review)**

**Concept:** *Review of variables and arithmetic.*

**Task:**

Create a variable named `sum_of_primes` that stores the sum of the first four prime numbers. Assign the numbers directly, there is no need for coding logic of finding first four prime numbers.

After computing the sum, print a message that clearly states what the value represents.

**Sample Output:**

```the sum of the first four primes is 10```

In [ ]:
# sample solution:
sum_of_primes = 2 + 3 + 5 + 7

# print out :
print('the sum of the first four primes is', sum_of_primes)

the sum of the first four primes is 17

**Problem 2 (Review)**

**Concept:** *Review of arithmetic and list indexing.*

**Task:**
Given a numeric value x and a list of three numbers representing coefficients, compute the value of a quadratic polynomial of the form:

$ùëéùë•^2 + ùëèùë• + ùëê$


Use list indexing to extract the coefficients, calculate the result, store it in a variable y, and print the value of y.

**Sample Output:**

```y = 20```

In [ ]:
# starter code
x = 4
coefficients = [2, 3, 4]

# sample solution
y = coefficients[0] * x**2 + coefficients[1] * x + coefficients[2]

# print out result
print('y = ', y)

y =  48

**Problem 3 (Review)**

**Concept:** *Review of extracting substrings using string slicing..*

**Task:**

Initialize a variable called `date` as 31st January 2026 in dd-mm-yyyy format.

Extract the year as ```year```, month as ```month``` and date as ```day```.

Print a message that clearly states the separated variables.

**Sample Output:**

```
The year is 2026 and month is 05 and day is 22
```

In [ ]:
# sample solution
date = '01-31-2026'
year = date[6:]
month = date[:2]
day = date[3:5]

# print out result
print('The year is', year,'and month is', month, 'and day is', day)

The year is 2026 and month is 01 and day is 31

**Problem 4**

**Concept:** *Functions with numeric parameters.*

**Task:**

Write two functions using the exact names below:

1) ```my_sum(a, b)```
    
    Returns the sum of a and b.

2) ```my_diff(a, b)```

    Returns the difference of a minus b.

Use the provided test cases to verify your functions.

**Sample Output:**

```
my_sum(3,4) returned 7
my_diff(3,4) returned -1
```

In [ ]:
# sample solution here
def my_sum(a, b):

    return a + b

def my_diff(a, b):

    return a - b

**Test cases for problem 4**

In [ ]:
# test cases for your functions
print('my_sum(3, 4) returned', my_sum(3, 4))
print('my_diff(3, 4) returned', my_diff(3, 4))

my_sum(3, 4) returned 7
my_diff(3, 4) returned -1

**Problem 5**

**Concept:** *Function with numeric parameters.*

**Task:**

Write the following two functions using exactly these names and parameters:

1. `calculate(a, b, c)`

    Returns the value of the expression:

    7a + 6b + 5c + 4

2. `mystery(a, b, c)`

    Returns the value of the expression:

> $7ùëé ‚àí 6ùëè^2 + 5ùëê^4$

Use the provided test cases to check your results.

**Sample Output:**

```
calculate(3, 4, 5) returned 74
mystery(3, 4, 5) returned 3050
```

In [ ]:
# sample solution

def calculate(a, b, c):

    return 7 * a + 6 * b + 5 * c + 4

def mystery(a, b, c):

    return 7 * a - 6 * b ** 2 + 5 * c ** 4

**Test cases for problem 5**

In [ ]:
# test cases for your functions
print('calculate(3, 4, 5) returned', calculate(3, 4, 5))
print('mystery(3, 4, 5) returned', mystery(3, 4, 5))

calculate(3, 4, 5) returned 74
mystery(3, 4, 5) returned 3050

**Problem 6**

**Concept:** *Function with string parameters*

**Task:**

Write a function named ```initials(first, last)``` that:

Takes two string parameters: first and last

Returns a string containing the first character of first followed by the first character of last

Test your function using the provided examples.

**Sample Output:**

```
initials("john", "lennon") returned jl
initials("paul", "mccartney") returned pm
```

In [ ]:
# sample solution
def initials(first, last):

    return first[0] + last[0]

**Test cases for problem 6**

In [ ]:
print('initials("john", "lennon") returned', initials("john", "lennon"))
print('initials("paul", "mccartney") returned', initials("paul", "mccartney"))

initials("john", "lennon") returned jl
initials("paul", "mccartney") returned pm
initials("george", "harrison") returned gh
initials("ringo", "starr") returned rs

**Problem 7**

**Concept:** *Function with a list as parameter.*

**Task:**

Write two functions with the exact names below:

1) ```first_and_last(numbers)```

    Returns the sum of the first and last elements in the list numbers.

2) ```mean_of_list(numbers)```

    Returns the mean (average) of all values in the list numbers.

Use the provided test cases.


**Sample Output:**

```
first_and_list([6,1,7,3,5,8,2,3,6,1]) = 7
mean_of_list([6,1,7,3,5,8,2,3,6,1]) = 4.2
```

In [ ]:
def first_and_last(numbers):
    '''return the sum of the first and last elements'''

    return numbers[0] + numbers[-1]

def mean_of_list(numbers):
    '''return the mean of a list of numbers'''

    return sum(numbers) / len(numbers)

**Test cases for problem 7**

In [ ]:
# test cases for your functions:
print('first_and_last([6,1,7,3,5,8,2,3,6,1]) =', first_and_last([6,1,7,3,5,8,2,3,6,1]))
print('mean_of_list([6,1,7,3,5,8,2,3,6,1]) =', mean_of_list([6,1,7,3,5,8,2,3,6,1]))

first_and_list([6,1,7,3,5,8,2,3,6,1]) = 7
mean_of_list([6,1,7,3,5,8,2,3,6,1]) = 4.2

**Problem 8**

**Concept:** *Function with a list as parameter.*

**Task:**

Write a function named ```polynomial(x, coefficients)``` that:

* Takes a number ```x```

* Takes a list named ```coefficients``` containing exactly four values

* Computes the polynomial:

  $ùëéùë•^3 + ùëèùë•^2 + ùëêùë• + ùëë$

Use list indexing to access the coefficients.

**Sample Output:**

```
polynomial(1, [2, 3, 4, 5]) = 14
polynomial(2, [2, 3, 4, 6]) = 42
```

In [ ]:
# sample solution
def polynomial(x, coefficients):
    '''calculate the value of a polynomial function of degree 3
    from a list of exxactly 4 coefficients'''

    return x ** 3 * coefficients[0] + x ** 2 * coefficients[1] + x * coefficients[2] + coefficients[3]

**Test cases for problem 8**

In [ ]:
# test cases for your function:
print('polynomial(1, [2, 3, 4, 5]) =', polynomial(1, [2, 3, 4, 5]))
print('polynomial(2, [2, 3, 4, 6]) =', polynomial(2, [2, 3, 4, 6]))

polynomial(1, [2, 3, 4, 5]) = 14
polynomial(2, [2, 3, 4, 6]) = 42

**Problem 9**

**Concept:** *Function with a parameter which is a list of strings.*

**Task:**

Write a function named ```make_initials(names)``` that:

* Takes a list named ```names``` containing exactly three strings
(first, middle, last)

* Returns a string consisting of the first character of each name

**Sample Output:**

```
make_initials(["john", "winston", "lennon"]) = jwl
make_initials(["james", "paul", "mccartney"]) = jpm
```

In [ ]:
# sample solution:
def make_initials(names):
    '''return a string of initials corresponding to a list of names
    (assuming first, middle, last).'''

    first = names[0]
    middle = names[1]
    last = names[2]

    return first[0] + middle[0] + last[0]

**Test cases for problem 9**

In [ ]:
# test cases for your function
print('make_initials(["john", "winston", "lennon"]) =', make_initials(["john", "winston", "lennon"]))
print('make_initials(["james", "paul", "mccartney"]) =', make_initials(["james", "paul", "mccartney"]))

make_initials(["john", "winston", "lennon"]) = jwl
make_initials(["james", "paul", "mccartney"]) = jpm

**Problem 10**

**Concept:** *Function that returns a list.*

**Task:**

Write a function named ```first_mid_last(my_list)``` that:

* Takes a list named ```my_list```

* Returns a new list containing:

    * First element

    * Middle element

    * Last element

**Note:**

For lists with even number of elements, you should return the second middle element. See sample test cases for details.

**Sample Output:**

```
first_mid_last([1, 2, 3, 4, 5]) = [1, 3, 5]
first_mid_last([6,1,7,3,5,8,2,3,6,1]) = [6, 8, 1]
```

In [ ]:
# sample solution
def first_mid_last(my_list):
    '''returns the first, middle, and last elenets of `my_list`.'''

    first = my_list[0]
    middle = my_list[len(my_list) // 2]
    last = my_list[-1]

    return [first, middle, last]

**Test cases for problem 10**

In [ ]:
print('first_mid_last([1, 2, 3, 4, 5]) =', first_mid_last([1, 2, 3, 4, 5]))
print('first_mid_last([6,1,7,3,5,8,2,3,6,1]) =', first_mid_last([6,1,7,3,5,8,2,3,6,1]))

first_mid_last([1, 2, 3, 4, 5]) = [1, 3, 5]
first_mid_last([6,1,7,3,5,8,2,3,6,1]) = [6, 8, 1]

**Problem 11**

**Concept:** *Function that returns a list.*

**Task:**

Write a function named ```change_from_a_dollar(price)``` that:

* Takes an integer ```price``` (in cents, less than 100)

* Calculates how much change is needed from one dollar (100 cents)

* Returns a list in the following order:

    1. Number of quarters (1 quarter = 25 cents)

    2. Number of dimes (1 dime = 10 cents)

    3. Number of nickels (1 nickel = 5 cents)

    4. Number of pennies (1 penny = 1 cent)

**Sample Output:**

```
change_from_a_dollar(22) returned [3, 0, 0, 3]
change_from_a_dollar(42) returned [2, 0, 1, 3]
```

In [ ]:
# sample solution
def change_from_a_dollar(price):
    '''return the number of each coin required to make change from a dollar.
    we assume a price in cents (integer) less than 100.
    returns a list of integers corresponding to the number of each coin
    (quarters, dimes, nikels, pennies).'''

    # compute total amount of change
    change = 100 - price
    # compute quantity of each coin, and how much change is left after that coin
    quarters = change // 25
    change = change % 25
    dimes = change // 10
    change = change % 10
    nickels = change // 5
    pennies = change % 5

    return [quarters, dimes, nickels, pennies]

**Test cases for problem 11**

In [ ]:
print("change_from_a_dollar(22) returned", change_from_a_dollar(22))
print("change_from_a_dollar(42) returned", change_from_a_dollar(42))

change_from_a_dollar(22) returned [3, 0, 0, 3]
change_from_a_dollar(42) returned [2, 0, 1, 3]